@model System.Collections.Generic.List<WebApplication1.Models.Movies.MovieView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Company List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
             <th>
                 Number of Films Released
             </th>
             <th>
                 Summed Budget of all Releases
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                <a asp-action="VideoList" asp-route-company_id="@item.company_id" asp-route-company_name="@item.company_name"> @Html.DisplayFor(modelItem => item.movies_count)</a>  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_budget)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Overview) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Popularity) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ReleaseDate) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Revenue) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Runtime) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.MovieStatus) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Tagline) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.VoteAverage) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.VoteCount) *@
            @* </td> *@
            @* <td> *@
            @*     <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
