@model System.Collections.Generic.List<WebApplication1.Models.Movies.MovieView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
             <th>
                 Number of Films Released
             </th>
             <th>
                 Summed Budget of all Releases
             </th>
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Overview) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Popularity) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.ReleaseDate) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Revenue) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Runtime) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.MovieStatus) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Tagline) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.VoteAverage) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.VoteCount) *@
@*             </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movies_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_budget)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Overview) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Popularity) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ReleaseDate) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Revenue) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Runtime) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.MovieStatus) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Tagline) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.VoteAverage) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.VoteCount) *@
            @* </td> *@
            @* <td> *@
            @*     <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
