@model System.Collections.Generic.List<WebApplication1.Models.Movies.MovieViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Company List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
             <th>
                 Number of Films Released
             </th>
             <th>
                 Summed Budget of all Releases
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                <a asp-action="VideoList" asp-route-company_id="@item.company_id" asp-route-company_name="@item.company_name"> @Html.DisplayFor(modelItem => item.movies_count)</a>  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_budget)
            </td>
        </tr>
}
    </tbody>
</table>

